$background-color: #e9e0d6;
$font-color: #354458;
$font-hover-color: #3a9ad9;
$content-color: #96c2cf;
$block-color: #eb7260;
$navbar-hover-color: #fff;
$block-title-color: #fff;
$button-shadow-color: #e43f25;
$success-color: #5fcf5f;
$success-hover-shadow-color: #386738;
$error-color: #ed1010;
