@import "_variables";

.top-navigation {
  width: 100%;
  height: 100px;
  position: fixed;
  background: $block-color;
  transition: all, .4s, ease-in-out;
  z-index: 2;

  &.contract {
    transition: all, .4s, ease-in-out;
    height: 60px;
  }

  .top-menu {
    margin-top: 20px;

    li {
      list-style-type: none;
      display: inline-block;

      a {
        padding: 20px;
        text-decoration: none;
        font-size: .9em;
        font-weight: bold;
        color: $font-color;
        transition: color, .3s, ease-in-out;

        &:hover {
          transition: color, .3s, ease-in-out;
          color: $navbar-hover-color;
        }

        &.active {
          color: $navbar-hover-color;
        }
      }
    }
  }
}
